<div class="login-container">
    <h1>Connexion</h1>
    <form>
      <div class="form-group">
        <label for="email">Email :</label>
        <input type="email" id="email" placeholder="Entrez votre adresse mail" />
      </div>
      <div class="form-group">
        <label for="password">Mot de passe :</label>
        <input type="password" id="password" placeholder="Entrez votre mot de passe" />
      </div>
      <button type="submit" class="btn-primary">Se connecter</button>
    </form>
    <p class="register-link">
      Pas encore de compte ? <a routerLink="/inscription">S'inscrire</a>
    </p>
  </div>
